$gutter: 24px;
$primary-color: #FFFFFF;
$grey-non-hover-color: #C0C0C0;
$secondary-color: #6D5C0D;
$green-title: #3CA090;
$header-footer-bg: #0A403A;
$hover-color: #FFD21F;
$description-color: #454545;
